{% extends "admin/base_site.html" %}    

{% block content %}
  <h1>Send Message to Selected Users</h1>
  <form id="sendMessageForm" action="{% url 'admin:users_telegramuser_changelist' %}" method="POST">
    {% csrf_token %}
    <textarea name="message" rows="4" cols="50" placeholder="Enter your message here..."></textarea>
    <br><br>
    <button type="button" name="apply" class="button">Send Message</button>
    <a href="{{ request.META.HTTP_REFERER }}" class="button">Cancel</a>
  </form>

  <script>
    // Attach an event listener to the submit button
    document.querySelector("button[type='button']").addEventListener("click", function(event) {
        event.preventDefault();
        
        var message = document.querySelector('textarea[name="message"]').value.trim();
        
        // If there's no message, alert the user and return
        if (!message) {
            alert("Please enter a message.");
            return;
        }

        // Get the CSRF token from the page
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        
        // Create a FormData object
        var formData = new FormData();
        formData.append('message', message);
        formData.append('csrfmiddlewaretoken', csrfToken);
        formData.append('apply','apply');
        formData.append('action', ['send_message_to_selected_users'])

        // Use fetch to submit the form asynchronously
        fetch(window.location.href, {
          method: 'POST',
          body: formData
        })
        .then(response => response.json()) // Handle the response as JSON
        .then(data => {
          console.log('Success:', data);
          alert("Message sent successfully!");
        })
        .catch((error) => {
          console.error('Error:', error);
          alert("An error occurred.");
        });
    });
  </script>
{% endblock %}
