{% extends "base_generic.html" %}

{% block content %}
  <h2>Broadcast Message</h2>

  <form method="post">
    {% csrf_token %}
    
    <label for="selected_users">Select Users:</label>
    <select name="selected_users" multiple>
      {% for user in users %}
        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }} ({{ user.telegram_id }})</option>
      {% endfor %}
    </select>

    {{ form.as_p }}

    <button type="submit">Send Message</button>
  </form>

  <hr>

  <h3>Users:</h3>
  <ul>
    {% for user in users %}
      <li>{{ user.first_name }} {{ user.last_name }} ({{ user.telegram_id }})</li>
    {% endfor %}
  </ul>
{% endblock %}
